
<!DOCTYPE html>
<html lang='en'>
<head>

</head>
<body id="index">
<br>
    <div class="add_reg">
        <a href="#">Option 3 - (A)dd registry</a>
    <style>.add_dropdown{display: none;}.add_reg:hover >.add_dropdown{display:block;}</style>
        <ul class ="add_dropdown">
            <li>What kind of media do you want to add?<br>Select an option <br></li>
            <ul>
                <li><a href="/add/general">Option 1 - (G)eneral non defined entry</a></li>
                <li><a href="/add/book">Option 2 - (B)ook</a></li>
                <li><a href="/add/audiobook">Option 3 - (A)udiobook</a></li>
                <li><a href="#">Option 4 - (M)ovie</a></li>
                <li><a href="#">Option 5 - (R)ecorded music/audio</a></li>
                <li><a href="#">Option 6 - (N)otated music</a></li>
                <li><a href="#">Option 7 - (W)ebpage</a></li>
            </ul>
        </ul>
    </div>
<br>
</body>
</html>
